* {
    font-size: 16px;
    font-family: 'Acme', sans-serif;
}

header {
    background: linear-gradient(50deg, rgba(60, 56, 56, 1) 14%, rgba(5, 11, 59, 1) 100%);
    padding: 15px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header h1 {
    display: inline-block;
    font-size: 2.5rem;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 14%, rgba(129, 125, 210, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    padding-right: 5px;
}

header li {
    display: inline-block;
    list-style-type: none;
    margin: 5px;
}

a,
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 20px;
    transition: font-size 1s ease;
}

nav {
    width: 100%;
}



span {
    font-size: 2rem;
    position: relative;
    padding-left: 15px;
}

aside {
    width: 49%;
    margin-left: -14px;
    position: relative;
    color: #fff;
    font-size: 1.5rem;
}

aside h3 {
    position: absolute;
    bottom: 57px;
    left: 40px;
    padding: 25px;
    background: linear-gradient(50deg, rgba(60, 56, 56, 1) 14%, rgba(5, 11, 59, 1) 100%);
    border-radius: 0 25px 25px 0;
}

main {
    background: linear-gradient(162deg, rgba(227, 227, 227, 1) 0%, rgba(236, 236, 236, 1) 17%);
    padding-bottom: 10px;
    width: 100%;
}

h5 {
    color: #000;
}


/*class selector*/
.back {
    padding: 10px 5%;
    border-radius: 50%;
    background: linear-gradient(168deg, rgba(137, 176, 171, 1) 29%, rgba(0, 212, 255, 1) 46%, rgba(34, 34, 186, 1) 100%);
    transition: all 1s ease;
}

.back:hover {
    color: #fff;
    background: linear-gradient(168deg, rgba(22, 112, 101, 1) 23%, rgba(255, 0, 39, 1) 51%, rgba(34, 34, 186, 1) 87%);
    transition: all 1s ease;
}

.listHTML,
.listJA,
.listNJ,
.listSQ,
.listRJ {
    display: none;
    text-align: center;
}

.listHTML li,
.listJA li {
    font-size: 1.5rem;
}

.rowbig,
.rowsmall {
    justify-content: center;
    width: 100%;
}

.nav-link:hover {
    font-size: 1.75rem;
    color: #126E82;
    transition: font-size 1s ease;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-collapse {
    flex-grow: unset;
}

.col-lg-2 {
    width: 11%;
}



.listHTML ul a,
.listHTML a,
.listJA ul a,
.listJA a,
.listNJ ul a,
.listNJ a,
.listSQ ul a,
.listSQ a,
.listRJ ul a,
.listRJ a {
    color: #D77FA1;
    transition: font-size 1s ease;
}

.listHTML ul a:hover,
.listHTML a:hover,
.listJA ul a:hover,
.listJA a:hover,
.listNJ ul a:hover,
.listNJ a:hover,
.listSQ ul a:hover,
.listSQ a:hover,
.listRJ ul a:hover,
.listRJ a:hover {
    font-size: 1.75rem;
    color: #126E82;
    transition: font-size 1s ease;
}

.background {
    background-image: url("../images/hero-img_copy.jpg");
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 100%;


}

.container {
    max-width: 90%;
}

.background h2 {
    color: #000;
    width: 13.5%;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 14%, rgba(129, 125, 210, 1) 100%);
    font-style: italic;
    border-radius: 20px 0 0 0;
    margin: 0;
}

.content-me,
.my-info-head,
.work-ex {
    /*width: 20%;*/
    border-right: 5px solid #424642;
}

.my-info-head {
    width: 10.4%;
}

.row1 {
    flex-wrap: nowrap;
}

.story {
    width: 20%;
    flex-grow: 1;

}

.content-me h2,
.my-info-head h2,
.work-ex h2 {
    color: #424642;
    font-size: 3rem;
    text-align: right;
    /*padding: 35px 10px 0 150px;*/
}

.story p {
    color: #424642;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 5px auto;
    width: 80%;
}

.list-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 89%;
}

.work-pic {
    width: 45%;
    margin: 25px;
    opacity: 0.4;
    border: 2px double #424642;
    border-radius: 30px;
    transition: opacity 1s ease;
}

.big-pic {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.small-pic {
    height: 200px;
    width: 100%;
}


.top-pic {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
}

.btn {
    width: 95%;
}

.btn:focus {
    box-shadow: none;
}


.top-pic h3 {
    position: absolute;
    bottom: 70px;
    left: 49px;
    padding: 25px;
    background: linear-gradient(50deg, rgba(60, 56, 56, 1) 14%, rgba(5, 11, 59, 1) 100%);
    border-radius: 0 25px 25px 0;
}

.my-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    justify-content: center;

}

.my-info p {
    font-size: 1.5rem;
    color: #424642;
    margin: 0 20px;
}

.my-info img {
    width: 64px;
    transition: all 1s ease;
}

.my-info img:hover {
    width: 85px;
    transition: all 1s ease;
}

.my-info a {
    margin: 0 20px;
}

.list-work a {
    padding: 0;
}

.list-work img:hover {
    opacity: 1;
    transition: opacity 1s ease;
    cursor: pointer;
}

.my-info-head {
    padding-left: 3px;
    /*width: 15.8%;*/
}

.my-info-head span {
    font-size: 4rem;
}

/*id selector*/

#about-me {
    height: 200px;
    display: flex;
    margin-top: 2%;

}

#work,
#contact-me {
    margin-top: 2%;
    display: flex;
}

#contact-me {
    width: 100%
}

#pro {
    width: 13.5%;
    height: 206px;
}

/*media query*/
@media (max-width:502px) {
    .navbar>.container-fluid {
        flex-direction: column;
    }

    .listHTML ul a {
        font-size: 1rem;
        transition: font-size 1s ease;
    }

    .listHTML ul a:hover {
        font-size: 1.1rem;
        transition: font-size 1s ease;
    }


    #contact-me {
        margin-left: 0px;
        margin-right: 0px;
    }

    .my-info {
        width: 100%;
    }

}

@media (max-width: 576px) {
    #contact-me {
        margin-left: 0px;
        margin-right: 0px;
    }

    .listHTML ul a {
        font-size: 1rem;
        transition: font-size 1s ease;
    }

    .listHTML ul a:hover {
        font-size: 1.1rem;
        transition: font-size 1s ease;
    }

    .navbar>.container-fluid {
        flex-direction: column;
    }

    .my-info {
        width: 100%;
    }
}


@media (max-width: 1340px) {
    * {
        text-align: center;
    }


    #about-me,
    #work,
    #contact-me {
        display: block;
        height: unset;
    }

    .content-me,
    .story,
    .work-ex {
        width: 100%;
        border-bottom: 5px solid #424642;
        border-right: none;

    }

    .work-ex {
        border-bottom: none;
    }

    .content-me h2 {
        padding-left: 0;
        text-align: center;
    }

    .background {
        align-items: center;
        justify-content: space-around;
    }

    .background h2 {
        width: 50%;
        font-size: 3.5rem;
        border-radius: 20px;
    }

    header h1 {
        display: block;
        text-align: center;
    }

    nav {
        text-align: center;
        padding-top: 20px;
        float: none;
    }

    .list-work,
    aside {
        width: 100%;
        margin: 0;
    }

    aside h3,
    .top-pic h3 {
        position: static;
        border-radius: 25px;
        width: 50%;
        margin: 0 auto;
    }

    .work-pic {
        margin: 5px;
    }

    .work-ex h2 {
        padding: 0 0 20px;
        text-align: center;
    }

    .my-info-head {
        width: 100%;
        border-top: 5px solid #424642;
        border-right: none;
        padding: 20px 0;
    }

    .my-info-head h2 {
        padding: 0;
        text-align: center;
    }

    .small-pic {
        height: 320px;
    }

    #contact-me {
        margin-left: 0px;
        margin-right: 0px;
    }

    .my-info {
        width: 100%;
    }

}

@media (min-width: 1341px) and (max-width:1632px) {

    .top-pic h3 {
        left: 29px;
    }
}

@media (max-width:640px) {
    .background {
        justify-content: space-between;
    }

    .small-pic {
        height: 170px;
    }

    .background h2 {
        width: unset;
        padding: 10px 25px;
    }

    .my-info p {
        width: 100%;
        text-align: center;
        padding: 20px 0 0;
    }

    .my-info img {
        width: 40px;
        transition: all 1s ease;
    }

    .my-info img:hover {
        width: 50px;
        transition: all 1s ease;
    }

    header {
        padding: 9px 0;
    }

    .nav-link {
        padding-top: 15px;
    }

    #pro {
        width: 25%;
        height: unset;
        border-radius: 10px 10px 0 0;
    }
}

@keyframes bganimation {
    0% {
        background-position:
            -100% -100%,
            200% 200%,
            -100% 200%,
            200% -100%;
    }

    50% {
        background-position:
            150% 100%,
            -200% 100%,
            100% 0%,
            0% 100%;
    }

    100% {
        background-position:
            -100% -100%,
            200% 200%,
            -100% 200%,
            200% -100%;
    }
}


main {
    background:
        radial-gradient(ellipse at center, rgba(0, 0, 255, 0.3) 0%, rgba(0, 0, 0, 0) 70%),
        /* niebieski */
        radial-gradient(ellipse at center, rgba(255, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 70%),
        /*czerwony */
        radial-gradient(ellipse at center, rgba(0, 255, 0, 0.3) 0%, rgba(0, 0, 0, 0) 70%)
        /*zielony */
        #c3d7db;
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat;
    background-size:
        900px 900px,
        900px 900px,
        900px 900px;
    background-attachment: fixed;

    animation: bganimation 30s infinite;
}